.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
  opacity: 0;
  animation: fadeIn 0.25s forwards;

  svg {
    position: fixed;
    top: 0;
    right: 0;

    color: var(--white);
    font-size: var(--fs-h4);

    margin-top: var(--margin-m);
    margin-right: var(--margin-m);

    cursor: pointer;
  }
}

.postModal {
  position: fixed;
  z-index: 1002;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;

  width: clamp(20rem, 90vw, 100rem);

  transform: translateX(-50%) translateY(-50%);

  .postModalLeft {
    display: flex;
    justify-content: flex-end;
    width: 60%;
    height: 50rem;

    .postModalImgWrapper {
      display: flex;
      justify-content: flex-end;
      height: 50rem;
      // width: 50rem;

      overflow: hidden;

      img {
        height: 100%;
        width: auto;
      }
    }
  }

  .postModalRight {
    display: flex;
    flex-direction: column;

    width: 40%;
    height: 50rem;

    background-color: var(--white);

    .postModalUserAndCaption {
      margin-block: var(--margin-xs);
      margin-inline: var(--margin-xs);

      margin-bottom: 0rem;
      padding-bottom: var(--margin-xs);

      border-bottom: 1px solid var(--grey90);
      gap: var(--margin-xs);

      display: flex;
      align-items: center;

      .postModalUserAvatar {
        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 50%;

        border: 1px solid var(--primary-color);

        height: 2.5rem;
        width: 2.5rem;
        overflow: hidden;

        img {
          height: 100%;
        }
      }
    }

    .postModalCommentBox {
      display: flex;
      flex-direction: column;

      height: 100%;
      overflow-y: auto;
    }

    .postModalFooter {
      display: flex;
      flex-direction: column;
      margin-top: auto;

      .postToolBar {
        display: flex;
        align-items: center;
        gap: var(--margin-xxs);
        margin-inline: var(--margin-xxs);

        & > * {
          display: flex;
        }

        .postLikeBtn {
          display: flex;
          align-items: center;
          font-size: var(--fs-h4);

          svg {
            transition: var(--transition-out);

            &.liked {
              color: var(--primary-color);
              transition: var(--transition-in);
            }
            g {
              path {
                stroke-width: 0.5px;
              }
            }
          }
        }

        .postCommentBtn {
          display: flex;
          align-items: center;
          font-size: var(--fs-h5);

          svg {
            path {
              stroke-width: 0.15px;
            }
          }
        }

        .postShareBtn {
          display: flex;
          align-items: center;

          font-size: var(--fs-h5);

          margin-left: auto;
          margin-right: var(--margin-xs);

          svg {
            path {
              stroke-width: 1px;
            }
          }
        }
      }
    }

    .likeInteractions {
      padding-inline: var(--margin-xs);
      display: flex;

      margin-block: var(--margin-xxs);
    }

    .postModalCommentsInput {
      display: flex;

      border-top: 1px solid var(--grey90);

      padding-block: var(--margin-xs);

      input {
        width: 100%;
        border: none;

        font-size: var(--fs-p);

        padding-inline: var(--margin-xs);

        &::placeholder {
          font-size: var(--fs-small);
        }
      }

      button {
        border: none;

        margin-right: var(--margin-xs);
        padding-inline: var(--margin-xxs);

        font-size: var(--fs-small);
        color: var(--primary-color);

        font-weight: 600;
        background-color: transparent;
      }
    }
  }

  // .modalContent {
  //   background-color: var(--white);
  //   padding: var(--margin-m);
  //   padding-top: var(--margin-s);

  //   border-radius: 0.5rem;

  //   .modalHeader {
  //     display: flex;
  //     justify-content: end;

  //     padding-bottom: var(--margin-s);

  //     button {
  //       border: none;
  //       background-color: transparent;

  //       svg {
  //         font-size: var(--fs-big);
  //       }
  //     }
  //   }

  //   .modalBody {
  //     img {
  //       max-width: 30rem;
  //       max-width: 20rem;
  //     }
  //   }
  // }

  // .modalCommentSidebar {
  //   background-color: var(--white);
  //   padding: var(--margin-m);
  //   padding-top: var(--margin-s);

  //   border-radius: 0.5rem;
  // }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
