.searchResult {
  display: flex;
  padding: var(--margin-xs);
  padding-inline: 0;
  transition: var(--transition-out);
}
.searchResult .searchResultUser {
  display: flex;
  align-items: center;
  width: 100%;
  gap: var(--margin-s);
  cursor: pointer;
}
.searchResult .searchResultUser:hover .searchResultUserAvatar {
  border: 1px solid var(--grey10);
  transition: var(--transition-in);
}
.searchResult .searchResultUser:hover .searchResultUserName p {
  color: var(--grey10);
  transition: var(--transition-in);
}
.searchResult .searchResultUser:hover .searchResultUserName p.grey {
  color: var(--grey10);
  transition: var(--transition-in);
}
.searchResult .searchResultUser .searchResultUserAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid var(--grey70);
}
.searchResult .searchResultUser .searchResultUserAvatar img {
  height: 100%;
  width: auto;
}
.searchResult .searchResultUser .searchResultUserName {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.searchResult .searchResultUser .searchResultUserName p {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: var(--fs-small-ui);
  font-weight: 600;
}
.searchResult .searchResultUser .searchResultUserName p.grey {
  font-size: var(--fs-small-ui);
  font-weight: 400;
  color: var(--grey30);
}
.searchResult .searchResultPost {
  display: flex;
  gap: var(--margin-s);
  width: 100%;
  cursor: pointer;
}
.searchResult .searchResultPost:hover .searchResultPostWrapper {
  border: 1px solid var(--grey10);
  transition: var(--transition-in);
}
.searchResult .searchResultPost:hover .searchResultUserAvatar {
  border: 1px solid var(--grey10);
  transition: var(--transition-in);
}
.searchResult .searchResultPost:hover .searchResultUserName p {
  color: var(--grey10);
  transition: var(--transition-in);
}
.searchResult .searchResultPost:hover .searchResultUserName p.grey {
  color: var(--grey10);
  transition: var(--transition-in);
}
.searchResult .searchResultPost .searchResultPostWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 5rem;
  aspect-ratio: 1/1;
  border: 1px solid var(--grey70);
  overflow: hidden;
}
.searchResult .searchResultPost .searchResultPostWrapper img {
  height: 100%;
}
.searchResult .searchResultPost .searchResultPostUser {
  display: flex;
  align-items: center;
  gap: var(--margin-s);
}
.searchResult .searchResultPost .searchResultPostUser .searchResultUserAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid var(--grey70);
}
.searchResult .searchResultPost .searchResultPostUser .searchResultUserAvatar img {
  height: 100%;
  width: auto;
}
.searchResult .searchResultPost .searchResultPostUser .searchResultUserName {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.searchResult .searchResultPost .searchResultPostUser .searchResultUserName p {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: var(--fs-small-ui);
  font-weight: 600;
}
.searchResult .searchResultPost .searchResultPostUser .searchResultUserName p.grey {
  font-size: var(--fs-small-ui);
  font-weight: 400;
  color: var(--grey30);
}

@media (max-width: 768px) {
  .searchResult {
    padding: var(--margin-xxs);
    margin-bottom: var(--margin-xxs);
  }
  body.dark-mode .searchResult .searchResultUser .searchResultUserAvatar {
    border: 1px solid var(--grey30);
  }
  body.dark-mode .searchResult .searchResultPost .searchResultPostWrapper {
    border: 1px solid var(--grey30);
  }
  body.dark-mode .searchResult .searchResultPost .searchResultPostUser .searchResultUserAvatar {
    border: 1px solid var(--grey30);
  }
  .searchResult .searchResultUser {
    align-items: center;
  }
  .searchResult .searchResultUser .searchResultUserAvatar {
    height: 2.75rem;
    width: 2.75rem;
  }
  .searchResult .searchResultPost .searchResultPostWrapper {
    width: 4rem;
    height: 4rem;
  }
}/*# sourceMappingURL=searchResult.css.map */