.searchResult {
  display: flex;

  padding: var(--margin-xs);
  padding-inline: 0;
  transition: var(--transition-out);

  .searchResultUser {
    display: flex;
    align-items: center;
    width: 100%;
    gap: var(--margin-s);

    cursor: pointer;

    &:hover {
      .searchResultUserAvatar {
        border: 1px solid var(--grey10);
        transition: var(--transition-in);
      }

      .searchResultUserName {
        p {
          color: var(--grey10);
          transition: var(--transition-in);

          &.grey {
            color: var(--grey10);
            transition: var(--transition-in);
          }
        }
      }
    }

    .searchResultUserAvatar {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 3rem;
      width: 3rem;

      aspect-ratio: 1/1;

      overflow: hidden;
      border-radius: 50%;

      border: 1px solid var(--grey70);

      img {
        height: 100%;
        width: auto;
      }
    }

    .searchResultUserName {
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        display: flex;
        justify-content: start;
        align-items: center;

        font-size: var(--fs-small-ui);
        font-weight: 600;

        &.grey {
          font-size: var(--fs-small-ui);
          font-weight: 400;
          color: var(--grey30);
        }
      }
    }
  }

  .searchResultPost {
    display: flex;
    gap: var(--margin-s);

    width: 100%;

    cursor: pointer;

    &:hover {
      .searchResultPostWrapper {
        border: 1px solid var(--grey10);
        transition: var(--transition-in);
      }

      .searchResultUserAvatar {
        border: 1px solid var(--grey10);
        transition: var(--transition-in);
      }

      .searchResultUserName {
        p {
          color: var(--grey10);
          transition: var(--transition-in);

          &.grey {
            color: var(--grey10);
            transition: var(--transition-in);
          }
        }
      }
    }

    .searchResultPostWrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 5rem;
      width: 5rem;

      aspect-ratio: 1/1;

      border: 1px solid var(--grey70);

      overflow: hidden;

      img {
        height: 100%;
        // width: 100%;
      }
    }

    .searchResultPostUser {
      display: flex;
      align-items: center;

      gap: var(--margin-s);

      .searchResultUserAvatar {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 3rem;
        width: 3rem;

        aspect-ratio: 1 / 1;

        overflow: hidden;
        border-radius: 50%;

        border: 1px solid var(--grey70);

        img {
          height: 100%;
          width: auto;
        }
      }

      .searchResultUserName {
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
          display: flex;
          justify-content: start;
          align-items: center;

          font-size: var(--fs-small-ui);
          font-weight: 600;

          &.grey {
            font-size: var(--fs-small-ui);
            font-weight: 400;
            color: var(--grey30);
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .searchResult {
    padding: var(--margin-xxs);
    margin-bottom: var(--margin-xxs);

    body.dark-mode & {
      .searchResultUser {
        .searchResultUserAvatar {
          border: 1px solid var(--grey30);
        }
      }

      .searchResultPost {
        .searchResultPostWrapper {
          border: 1px solid var(--grey30);
        }

        .searchResultPostUser {
          .searchResultUserAvatar {
            border: 1px solid var(--grey30);
          }
        }
      }
    }

    .searchResultUser {
      align-items: center;

      .searchResultUserAvatar {
        height: 2.75rem;
        width: 2.75rem;
      }

      .searchResultUserName {
        p {
          // font-size: clamp(var(--fs-small), 3vw, var(--fs-p));

          &.grey {
            // font-size: clamp(var(--fs-small), 3vw, var(--fs-p));
          }
        }
      }
    }

    .searchResultPost {
      .searchResultPostWrapper {
        width: 4rem;
        height: 4rem;
      }
    }
  }
}
