@import "../../styles/mixins";

.notificationSidebarComponent {
  padding-inline: var(--margin-m);
  overflow-y: auto;

  padding-right: var(--margin-s);
  // margin-right: var(--margin-xxs);

  @include custom-scrollbar(
    linear-gradient(
      0deg,
      transparent 0%,
      var(--grey90) 10%,
      var(--grey70) 50%,
      var(--grey90) 90%,
      transparent 100%
    ),
    var(--background-color),
    linear-gradient(
      0deg,
      transparent 0%,
      var(--grey70) 10%,
      var(--grey70) 50%,
      var(--grey70) 90%,
      transparent 100%
    ),
    0.15rem,
    0.15rem
  );

  .noNewNoti {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin-inline: auto;
    margin-block: var(--margin-l);
    color: var(--grey10);

    font-size: var(--fs-p);
    font-weight: 300;

    svg {
      font-size: var(--fs-big);
      margin-right: var(--margin-s);
      color: var(--grey30);

      path {
        stroke-width: 0.1px;
      }
    }
  }
}


@media (max-width: 768px) {
  .notificationSidebarComponent {
    padding-block: var(--margin-m);
    padding-inline: var(--margin-l);

    height: 100%;
  }
}
