@import "../../styles/mixins";

.friendsHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  top: 0;

  width: clamp(20rem, 100vw, 35rem);

  margin-inline: auto;

  padding-block: var(--margin-s);
  padding-top: var(--margin-m);

  gap: var(--margin-s);

  overflow-x: auto;

  @include custom-scrollbar(
    linear-gradient(90deg, transparent 0%, var(--grey90) 50%, transparent 100%),
    var(--background-color),
    linear-gradient(
      90deg,
      transparent 0%,

      var(--grey70) 50%,

      transparent 100%
    ),
    0.15rem,
    0.15rem
  );

  .followingUserIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    width: 4rem;

    &:hover {
      .followingUserAvatar {
        border: 2px solid var(--primary-color);
        transition: var(--transition-in);
      }

      .followingUserUserName {
        p {
          font-size: var(--fs-small-ui);
          color: var(--primary-color);
          transition: var(--transition-in);
        }
      }
    }

    .followingUserAvatar {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;

      height: 3rem;
      width: 3rem;
      overflow: hidden;

      border: 2px solid var(--grey30);

      transition: var(--transition-out);
      margin-bottom: var(--margin-xxs);

      aspect-ratio: 1 / 1;

      img {
        height: 100%;
      }
    }

    .followingUserUserName {
      display: flex;
      // justify-content: center;
      align-items: center;

      width: 4rem;

      white-space: nowrap; /* Prevent the text from wrapping */
      overflow: hidden; /* Hide the overflowed text */
      text-overflow: ellipsis; /* Display "..." for overflowed text */

      p {
        font-size: var(--fs-small-ui);
        color: var(--grey30);
        font-weight: 500;
        text-align: center;
        width: 100%;
        transition: var(--transition-out);
      }
    }
  }
}

@media (max-width: 768px) {
  .friendsHeader {
    margin-top: 70px;

    width: clamp(20rem, 100vw, 35rem);

    padding-inline: var(--margin-s);
  }
}
