.userProfilePostCard {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  flex-basis: calc(33.33% - var(--margin-xxs));

  max-width: calc(33.33% - var(--margin-xxs));

  &:hover {
    .userProfilePostCardImgWrapper {
      img {
        filter: brightness(75%);

        transition: var(--transition-in);
      }
    }

    .viewPostBtn {
      opacity: 1;
      transition: var(--transition-in);
    }

    .userPostOptionsBtn {
      opacity: 1;
      transition: var(--transition-in);
    }
  }

  .userProfilePostCardImgWrapper {
    width: 100%; /* Take full width */
    padding-bottom: 100%; /* Square aspect ratio */
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
      width: 100%;
      object-fit: cover; /* Ensures the image covers the entire square without distortion */
      transition: var(--transition-out);
    }
  }

  .viewPostBtn {
    position: absolute;
    background-color: var(--white);
    font-size: var(--fs-p);
    padding-block: var(--margin-xxs);
    padding-inline: var(--margin-xs);
    font-weight: 600;

    opacity: 0;
    transition: var(--transition-out);

    cursor: pointer;
  }

  .userPostOptionsBtn {
    position: absolute;
    right: 0;
    top: 0;

    padding: var(--margin-xs);

    opacity: 0;
    transition: var(--transition-out);

    display: flex;

    cursor: pointer;

    svg {
      color: white;

      font-size: var(--fs-h4);
    }
  }

  .userPostOptionsDropdown {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-color: var(--white);

    display: none;
    flex-direction: column;

    border-radius: 0.25rem 0 0.25rem 0.25rem;
    opacity: 0;
    transition: var(--transition-out);

    &.show {
      display: flex;
      opacity: 1;
      transition: var(--transition-in);
    }

    .editPostBtn {
      display: flex;
      align-items: center;
      font-size: var(--fs-small);

      padding-inline: var(--margin-xs);
      padding-block: var(--margin-xxs);

      border-bottom: 1px solid var(--grey90);

      cursor: pointer;
      transition: var(--transition-out);

      &:hover {
        background-color: var(--grey90);
        transition: var(--transition-in);
      }
    }

    .deletePostBtn {
      display: flex;
      align-items: center;
      font-size: var(--fs-small);

      padding-inline: var(--margin-xs);
      padding-block: var(--margin-xxs);

      color: red;

      cursor: pointer;
      transition: var(--transition-out);

      &:hover {
        background-color: var(--grey90);
        transition: var(--transition-in);
      }
    }
  }
}

.deletePostConfirmation {
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translateX(-50%) translateY(-50%);

  background-color: var(--white);

  padding-block: var(--margin-s);
  padding-inline: var(--margin-m);

  border-radius: 0.5rem;
  z-index: 1006;

  box-shadow: 0px 0px 5px var(--grey10);
  display: none;

  &.show {
    display: flex;
    flex-direction: column;
  }

  p {
    display: flex;
    font-size: var(--fs-p);
  }

  .deletePostBtns {
    display: flex;
    justify-content: center;
    gap: var(--margin-l);

    margin-top: var(--margin-xxs);

    button {
      font-family: var(--ff);
      background-color: transparent;
      border: none;

      cursor: pointer;

      padding-inline: var(--margin-xs);
      padding-block: var(--margin-xxs);

      border-radius: 0.5rem;

      font-size: var(--fs-p);

      &:hover {
        background-color: var(--grey90);
      }
    }

    button:nth-child(1) {
      color: red;
      font-weight: 600;
    }

    button:nth-child(2) {
      font-weight: 600;
      color: var(--grey30);
    }
  }
}

.postDeleteOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  z-index: 1005;
  background-color: hsla(0, 0%, 10%, 0.5);

  display: none;

  &.show {
    display: block;
  }
}
