.createPost {
  position: absolute;
  z-index: 1001;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0px 0px 10px var(--grey50);
  border-radius: 1rem;
  padding-top: 0rem;
  height: 40rem;
  width: 50%;
  display: none;
  flex-direction: column;
  background-color: var(--white);
}
.createPost.show {
  display: flex;
}
.createPost .createPostHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: var(--margin-xxs);
  padding-inline: var(--margin-s);
  border-bottom: 1px solid var(--grey70);
}
.createPost .createPostHeader .btn {
  height: 100%;
  display: flex;
  align-items: center;
}
.createPost .createPostHeader .btn.share {
  background-color: transparent;
  border: none;
  color: var(--primary-color);
  font-weight: 600;
}
.createPost .createPostHeader .btn.close {
  background-color: transparent;
  border: none;
  color: var(--accent-color);
  font-size: var(--fs-h5);
}
.createPost .createPostHeader p {
  text-align: center;
  font-weight: 600;
}
.createPost .createPostForm {
  display: flex;
  height: 100%;
  padding-inline: var(--margin-m);
}
.createPost .createPostForm .createPostFormLeft {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: var(--margin-xxl);
}
.createPost .createPostForm .createPostFormLeft .imgPreviewWrapper {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  margin-bottom: var(--margin-s);
  margin-bottom: auto;
}
.createPost .createPostForm .createPostFormLeft svg {
  font-size: 5rem;
  margin-bottom: var(--margin-xxs);
}
.createPost .createPostForm .createPostFormLeft big {
  font-size: var(--fs-big);
  margin-bottom: var(--margin-xxs);
}
.createPost .createPostForm .createPostFormLeft input {
  margin-block: var(--margin-xxs);
  width: 50%;
}
.createPost .createPostForm .createPostFormLeft .btn {
  margin-block: var(--margin-xxs);
  padding-block: var(--margin-xxs);
  padding-inline: var(--margin-xs);
  font-size: var(--fs-p);
}
.createPost .createPostForm .createPostFormRight {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding-block: var(--margin-xs);
}
.createPost .createPostForm .createPostFormRight input {
  font-size: var(--fs-p);
  margin-bottom: var(--margin-xxs);
}
.createPost .createPostForm .createPostFormRight p {
  text-align: right;
  font-size: var(--fs-small);
}

.createPostOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: hsla(0, 0%, 10%, 0.5);
  display: none;
}
.createPostOverlay.show {
  display: flex;
}

.createPost .createPostForm {
  display: flex;
  height: 100%;
  padding-inline: var(--margin-m);
}
.createPost .createPostForm .createPostFormLeft {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: var(--margin-xxl);
}
.createPost .createPostForm .createPostFormLeft .imgPreviewWrapper {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  margin-bottom: auto;
}
.createPost .createPostForm .createPostFormLeft .imgPreviewWrapper img {
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.createPost .createPostForm .createPostFormRight {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding-block: var(--margin-xs);
}
.createPost .createPostForm .createPostFormRight .imageList {
  display: flex;
  flex-direction: column;
  gap: var(--margin-xxs);
}
.createPost .createPostForm .createPostFormRight .imageList .imageItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--margin-xxs);
}
.createPost .createPostForm .createPostFormRight .imageList .imageItem img {
  width: 4rem;
  height: 4rem;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  margin-bottom: var(--margin-xxs);
}
.createPost .createPostForm .createPostFormRight .imageList .imageItem input {
  width: 100%;
}
.createPost .createPostForm .createPostFormRight .imageList button {
  font-size: 2rem;
  color: var(--primary-color);
  background: transparent;
  border: none;
  cursor: pointer;
  width: 100%;
}
.createPost .createPostForm .createPostFormRight input {
  font-size: var(--fs-p);
  margin-bottom: var(--margin-xxs);
}
.createPost .createPostForm .createPostFormRight p {
  text-align: right;
  font-size: var(--fs-small);
}/*# sourceMappingURL=createPost.css.map */