@import "../../styles/mixins";

.createPost {
  position: fixed;
  z-index: 1004;

  top: 50%;
  left: 50%;

  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0px 0px 10px var(--grey50);

  border-radius: 1rem;

  padding-top: 0rem;

  // max-height: 50rem;
  // width: clamp(48rem, 95vw, 50rem);
  width: 48rem;

  display: none;
  flex-direction: column;
  background-color: var(--background-color);

  opacity: 0;
  animation: fadeIn 0.25s forwards;

  --desat-primary-color: hsl(5, 66%, 69%);

  body.dark-mode & {
    box-shadow: 0px 0px 5px var(--white);

    .createPostHeader {
      .btn {
        &.close {
          color: var(--black);
        }
      }
    }

    .createPostForm {
      .createPostFormRight {
        .postInput {
          .imageInput {
            .addImgInput {
              background-color: var(--grey70);
              border: var(--grey70);
              color: var(--black);

              &::placeholder {
                color: var(--grey30);
              }
            }
          }

          .captionInput {
            input {
              background-color: var(--grey70);
              border: var(--grey70);
              color: var(--black);

              &::placeholder {
                color: var(--grey30);
              }
            }
          }
        }
      }
    }
  }

  &.show {
    display: flex;
  }

  .createPostHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-block: var(--margin-xs);
    padding-top: var(--margin-xs);
    padding-inline: var(--margin-m);
    border-bottom: 1px solid var(--grey70);
    // height: 2rem;

    .btn {
      // height: 2rem;
      display: flex;
      align-items: center;

      &.share {
        background-color: transparent;
        border: none;
        color: var(--primary-color);

        font-weight: 600;
        // height: 100%;
      }

      &.close {
        background-color: transparent;
        border: none;
        color: var(--accent-color);

        font-size: var(--fs-h5);
      }
    }

    p {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      // text-align: center;

      font-weight: 600;
    }
  }

  .createPostForm {
    display: flex;
    height: 100%;

    padding-inline: var(--margin-m);

    .createPostFormLeft {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;

      padding-block: var(--margin-m);

      padding-right: var(--margin-m);

      .currentImgPreview {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 100%;

        // position: relative;
        // display: inline-block; /* Ensures the pseudo-element sizes correctly */
        // overflow: hidden;

        margin-bottom: var(--margin-m);
        // margin-bottom: auto;

        border: 2px solid transparent;
        // background: $gradient-border;

        background: linear-gradient(
              var(--background-color),
              var(--background-color)
            )
            padding-box,
          linear-gradient(
              45deg,
              var(--secondary-color1) 0%,
              var(--primary-color) 50%,
              var(--secondary-color2) 100%
            )
            border-box;

        width: 27rem;
        height: 27rem;

        // &::after {
        //   content: "";
        //   position: absolute;
        //   top: -2px; /* Adjust according to the border thickness */
        //   left: -2px;
        //   right: -2px;
        //   bottom: -2px;
        //   background: linear-gradient(
        //     45deg,
        //     #ff7e5f,
        //     #feb47b,
        //     #86a8e7,
        //     #91eae4
        //   );
        //   z-index: -1;
        //   border-radius: 10px; /* Match the image's border radius */
        // }

        svg {
          margin: auto;
          color: var(--grey30);
          font-size: 10rem;
        }

        .imgPreviewWrapper {
          height: 100%;
          width: 100%;
          // position: relative;

          display: flex;
          justify-content: center;
          align-items: center;

          overflow: hidden;

          &.aspect-ratio-1-1 {
            img {
              width: 100%;
              height: 100%;
            }
          }

          &.aspect-ratio-3-4 {
            img {
              // width: 100%;
              height: 100%;
            }
          }

          &.aspect-ratio-4-3 {
            img {
              width: 100%;
              // height: 100%;
            }
          }

          &.aspect-ratio-16-9 {
            img {
              width: 100%;
              // height: 100%;
            }
          }

          &.aspect-ratio-9-16 {
            img {
              // width: 100%;
              height: 100%;
            }
          }
        }
      }

      .imgPreviewList {
        display: flex;

        width: 100%;

        .imageList {
          display: flex;

          justify-content: center;

          width: 100%;

          gap: 0.5rem;

          .imgPreviewWrapper-small {
            width: 5rem;
            height: 5rem;

            display: flex;
            justify-content: center;
            align-items: center;

            overflow: hidden;
            border: 1px solid var(--grey70);

            &.aspect-ratio-1-1 {
              img {
                width: 100%;
                height: 100%;
              }
            }

            &.aspect-ratio-3-4 {
              img {
                // width: 100%;
                height: 100%;
              }
            }

            &.aspect-ratio-4-3 {
              img {
                width: 100%;
                // height: 100%;
              }
            }

            &.aspect-ratio-16-9 {
              img {
                width: 100%;
                // height: 100%;
              }
            }

            &.aspect-ratio-9-16 {
              img {
                // width: 100%;
                height: 100%;
              }
            }
          }
        }
      }

      svg {
        font-size: 5rem;
        margin-bottom: var(--margin-xxs);
      }

      big {
        font-size: var(--fs-big);
        margin-bottom: var(--margin-xxs);
      }

      input {
        margin-block: var(--margin-xxs);
        width: 50%;
      }

      .btn {
        margin-block: var(--margin-xxs);
        padding-block: var(--margin-xxs);
        padding-inline: var(--margin-xs);
        font-size: var(--fs-p);
      }
    }

    .createPostFormRight {
      width: 30%;
      display: flex;
      flex-direction: column;

      border-left: 1px solid var(--grey90);

      padding-left: var(--margin-m);

      padding-block: var(--margin-xs);
      padding-top: var(--margin-m);

      .postInput {
        height: 100%;

        .imageInput {
          display: flex;
          flex-direction: column;

          gap: var(--margin-xs);
          min-height: 5rem;

          .maxImageMessage {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 5rem;
            font-size: var(--fs-p);
            font-weight: 500;
          }

          .addImgInput {
            border: 1px solid var(--grey50);
            // @include gradient-border(
            //   var(--background-color),
            //   135deg,
            //   1px,
            //   var(--primary-color),
            //   var(--secondary-color1)
            // );
            border-radius: 0.5rem;

            padding-block: var(--margin-xxs);
            padding-inline: var(--margin-xs);

            &::placeholder {
              color: var(--grey30);
            }

            &.inactive {
              border: 1px solid var(--grey50);
              background-color: var(--grey70);

              &::placeholder {
                color: var(--grey10);
              }
            }
          }

          .addImgBtn {
            border: none;
            background-color: var(--primary-color);

            font-family: var(--ff);
            font-size: var(--fs-small-ui);
            font-weight: 600;
            color: var(--background-color);

            width: fit-content;

            margin-inline: auto;
            padding-block: var(--margin-xs);
            padding-inline: var(--margin-s);

            border-radius: 0.5rem;

            &.on {
              @include gradient-border(
                var(--primary-color),
                45deg,
                2px,
                var(--secondary-color2),
                var(--secondary-color1)
              );
              // background-color: var(--primary-color);
            }

            &.off {
              @include gradient-border(
                var(--desat-primary-color),
                45deg,
                2px,
                var(--secondary-color2),
                var(--secondary-color1)
              );
              // background-color: var(--grey50);
            }

            &.inactive {
              // background-color: var(--grey50);
            }
          }

          .errorMessageImagePost {
            color: var(--error-text);
            margin-top: var(--margin-xxs);
            animation: highFreqShake 0.6s ease; /* Apply the bounce animation */
          }
        }

        .captionInput {
          margin-top: var(--margin-m);
          border-top: 1px solid var(--grey90);

          padding-top: var(--margin-m);

          input {
            width: 100%;

            border: 1px solid var(--grey90);
            background-color: var(--grey90);

            color: var(--grey30);

            border-radius: 0.33rem;
            overflow-wrap: wrap;

            font-size: var(--fs-small-ui);

            padding-block: var(--margin-xxs);
            padding-inline: var(--margin-xs);

            &::placeholder {
              font-size: var(--fs-small-ui);
            }
          }

          .charCount {
            text-align: end;
            font-size: var(--fs-small);
          }

          .errorMessageCaption {
            color: var(--error-text);
            margin-top: var(--margin-xxs);
            animation: highFreqShake 0.6s ease;
          }
        }
      }

      p {
        text-align: center;
        font-size: var(--fs-small);
        color: var(--grey30);
      }
    }
  }
}

.createPostOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  z-index: 1000;
  background-color: hsla(0, 0%, 10%, 0.5);

  display: none;
  opacity: 0;
  animation: fadeIn 0.25s forwards;

  z-index: 1003;

  body.dark-mode & {
    background-color: hsla(0, 0%, 0%, 0.8);
  }

  &.show {
    display: flex;
  }
}

@media (max-width: 768px) {
  .createPost {
    width: clamp(20rem, 95vw, 46rem);
    border-radius: clamp(0.5rem, 2.1vw, 1rem);

    .createPostHeader {
      padding-inline: clamp(var(--margin-xxs), 1.7vw, var(--margin-s));
    }

    .createPostForm {
      padding-inline: clamp(var(--margin-xxs), 1.7vw, var(--margin-s));

      .createPostFormLeft {
        width: 70%;
        padding-block: clamp(var(--margin-xxs), 2.5vw, var(--margin-m));
        padding-right: clamp(var(--margin-xxs), 2.2vw, var(--margin-s));

        .currentImgPreview {
          width: 100%;

          height: auto;
          min-height: clamp(10rem, 65vw, 29rem);

          aspect-ratio: 1 / 1;

          .imgPreviewWrapper {
            svg {
              font-size: clamp(5rem, 25vw, 10rem);
            }
          }
        }

        .imgPreviewList {
          .imageList {
            gap: 0;
            .imgPreviewWrapper-small {
              width: clamp(3rem, 12vw, 5rem);
              height: clamp(3rem, 12vw, 5rem);

              margin-inline: auto;
            }
          }
        }
      }

      .createPostFormRight {
        width: 30%;
        padding-block: clamp(var(--margin-xxs), 2.5vw, var(--margin-m));
        padding-left: clamp(var(--margin-xxs), 2.2vw, var(--margin-s));

        .postInput {
          .imageInput {
            input {
              font-size: clamp(var(--fs-small), 3vw, var(--fs-p));
              border-radius: 0.5rem;
            }

            button {
              width: 100%;
              font-size: clamp(var(--fs-small), 3vw, var(--fs-p));

              text-wrap: wrap;

              border-radius: 0.5rem;
            }
          }

          .captionInput {
            margin-top: clamp(var(--margin-xxs), 1.5vw, var(--margin-s));
            input {
              font-size: clamp(var(--fs-small), 3vw, var(--fs-p));
              border-radius: 0.33rem;

              margin-bottom: var(--margin-xxs);
            }
          }
        }

        p {
        }
      }
    }
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes highFreqShake {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-2px);
  }
  20% {
    transform: translateX(2px);
  }
  30% {
    transform: translateX(-2px);
  }
  40% {
    transform: translateX(2px);
  }
  50% {
    transform: translateX(-2px);
  }
  60% {
    transform: translateX(2px);
  }
  70% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(2px);
  }
  90% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}
