.searchSidebar {
  --sidebar-svg: 1.875rem;
  display: flex;
  position: fixed;
  left: calc(var(--margin-l) * 2 + var(--sidebar-svg));
  z-index: 1003;
  background-color: var(--background-color);
  height: 100%;
  border-right: 1px solid var(--grey70);
  border-left: 1px solid var(--grey70);
  transition: var(--transition-out);
  display: flex;
  flex-direction: column;
  max-width: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out; /* Smooth slide animation */
}
.searchSidebar.show {
  max-width: 50rem;
  width: 20rem;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
.searchSidebar .loader {
  height: -moz-min-content;
  height: min-content;
  margin: auto;
}
.searchSidebar .loader p {
  display: none;
}
.searchSidebar .searchSidebarHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding-block: var(--margin-m);
  padding-inline: var(--margin-m);
  padding-bottom: var(--margin-l);
  border-bottom: 1px solid var(--grey90);
}
.searchSidebar .searchSidebarHeader h4 {
  font-size: var(--fs-h5);
  font-weight: 600;
  text-align: center;
  margin-bottom: var(--margin-s);
}
.searchSidebar .searchSidebarHeader .searchInput {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.searchSidebar .searchSidebarHeader .searchInput input {
  font-size: var(--fs-p);
  padding-inline: var(--margin-xs);
  padding-block: var(--margin-xxs);
  border: none;
  border-radius: 0.33rem;
  background-color: var(--grey90);
}
.searchSidebar .searchSidebarHeader .searchInput input:focus {
  outline: none;
  box-shadow: 0px 0px 2px var(--grey10);
}
body.dark-mode .searchSidebar .searchSidebarHeader .searchInput input {
  background-color: var(--grey70);
  color: var(--grey10);
}
body.dark-mode .searchSidebar .searchSidebarHeader .searchInput input::-moz-placeholder {
  font-size: var(--fs-p);
  font-weight: 300;
  color: var(--grey30);
}
body.dark-mode .searchSidebar .searchSidebarHeader .searchInput input::placeholder {
  font-size: var(--fs-p);
  font-weight: 300;
  color: var(--grey30);
}
.searchSidebar .searchSidebarHeader .searchInput input::-moz-placeholder {
  font-size: var(--fs-p);
  font-weight: 300;
}
.searchSidebar .searchSidebarHeader .searchInput input::placeholder {
  font-size: var(--fs-p);
  font-weight: 300;
}
.searchSidebar .searchResultsWrapper {
  display: flex;
  flex-direction: column;
  padding-block: var(--margin-m);
  padding-top: 0;
  overflow-y: auto;
  height: 100%;
  padding-inline: var(--margin-m);
}
.searchSidebar .searchResultsWrapper .noResults {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--margin-s);
  gap: var(--margin-xs);
}
.searchSidebar .searchResultsWrapper .noResults svg {
  margin-top: 0.1rem;
  font-size: var(--fs-big-ui);
}
.searchSidebar .searchResultsWrapper .noResults p {
  font-size: var(--fs-p);
}
.searchSidebar .searchResultsWrapper::-webkit-scrollbar {
  width: 0.2rem;
  height: 0.2rem;
}
.searchSidebar .searchResultsWrapper::-webkit-scrollbar-track {
  background: var(--background-color);
}
.searchSidebar .searchResultsWrapper::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, var(--white) 0%, var(--grey90) 10%, var(--grey70) 50%, var(--grey90) 90%, var(--white) 100%);
}
.searchSidebar .searchResultsWrapper::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(0deg, var(--grey90) 0%, var(--grey70) 10%, var(--grey70) 50%, var(--grey70) 90%, var(--grey90) 100%);
}
.searchSidebar .searchResultsWrapper big {
  font-size: var(--fs-big);
  font-weight: 600;
  padding-block: var(--margin-s);
  padding-bottom: var(--margin-xxs);
}

.searchSidebar-mobile {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 4.9rem;
  right: 0rem;
  padding: var(--margin-xs);
  border: 1px solid var(--grey70);
  box-shadow: 1px 1px 3px hsla(0, 0%, 0%, 0.2);
  min-height: 7.5rem;
  max-height: 35rem;
  width: clamp(10rem, 80vw, 22rem);
  margin-inline: var(--margin-xs);
  background-color: var(--background-color);
  z-index: 1001;
  border-radius: 0.5rem;
  opacity: 0;
  animation: fadeIn 0.25s forwards;
}
.searchSidebar-mobile .loader {
  height: -moz-min-content;
  height: min-content;
  margin-top: 1.5rem;
}
.searchSidebar-mobile .loader .spinner {
  height: 1.5rem;
  width: 1.5rem;
}
.searchSidebar-mobile .loader p {
  display: none;
}
body.dark-mode .searchSidebar-mobile .searchSidebar-mobile-header input {
  background-color: var(--grey70);
  border: 1px solid var(--grey70);
}
body.dark-mode .searchSidebar-mobile .searchSidebar-mobile-header input::-moz-placeholder {
  color: var(--grey30);
}
body.dark-mode .searchSidebar-mobile .searchSidebar-mobile-header input::placeholder {
  color: var(--grey30);
}
body.dark-mode .searchSidebar-mobile .searchResultsWrapper-mobile big {
  color: var(--grey10);
}
.searchSidebar-mobile .searchSidebar-mobile-header {
  display: flex;
  width: 100%;
}
.searchSidebar-mobile .searchSidebar-mobile-header input {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: var(--grey90);
  border: 1px solid var(--grey70);
  padding-block: var(--margin-xxs);
  padding-inline: var(--margin-xs);
  font-size: var(--fs-small-ui);
  border-radius: 0.33rem;
  color: var(--black);
}
.searchSidebar-mobile .searchSidebar-mobile-header input:focus {
  outline: none;
}
.searchSidebar-mobile .searchSidebar-mobile-header input::-moz-placeholder {
  color: var(--grey30);
}
.searchSidebar-mobile .searchSidebar-mobile-header input::placeholder {
  color: var(--grey30);
}
.searchSidebar-mobile .searchResultsWrapper-mobile {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  margin-block: var(--margin-xs);
}
.searchSidebar-mobile .searchResultsWrapper-mobile .noResults {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--margin-m);
  gap: var(--margin-xs);
}
.searchSidebar-mobile .searchResultsWrapper-mobile .noResults svg {
  margin-top: 0.1rem;
  font-size: var(--fs-p-ui);
}
.searchSidebar-mobile .searchResultsWrapper-mobile .noResults p {
  font-size: var(--fs-small-ui);
}
.searchSidebar-mobile .searchResultsWrapper-mobile big {
  font-size: var(--fs-big-ui);
  margin-block: var(--margin-xxs);
  text-align: center;
  font-weight: 600;
}

@media (max-width: 540px) {
  .searchSidebar-mobile {
    left: 50%;
    transform: translateX(-50%);
    width: clamp(10rem, 98vw, 33rem);
    margin-inline: 0;
    padding: clamp(var(--margin-xxs), 2vw, var(--margin-s));
  }
}
@keyframes slideOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}/*# sourceMappingURL=searchSidebar.css.map */