@import "../../styles/_mixins.scss";

.sideBar {
  --sidebar-svg: 1.875rem;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  width: clamp(10rem, 50vw, 20rem);

  padding-block: var(--margin-l);
  padding-inline: var(--margin-l);

  border-right: 1px solid var(--grey70);
  height: 100vh;

  z-index: 1000;

  background-color: var(--background-color);

  gap: var(--margin-l);

  transition: width 0.3s ease, border 0.1s ease;

  &.collapsed {
    width: calc(var(--margin-l) * 2 + var(--sidebar-svg));
    border-right: 0px solid var(--grey70);

    .sidebarBtn {
      gap: 0rem;

      big {
        display: none;
      }
    }

    .logo {
      opacity: 0;
      visibility: hidden;
    }

    .logoIcon {
      display: flex;

      opacity: 1;
      visibility: visible;

      transform: scale(1);
    }
  }

  .logo {
    position: absolute;

    font-family: var(--ff-logo);
    font-weight: 900;

    color: var(--accent-color);

    font-size: var(--fs-h2);
    height: 50px;

    transition: opacity 0.1s ease; /* Smooth transition for logo */

    body.dark-mode & {
      color: var(--black);
    }
  }

  .logoIcon {
    position: absolute;

    display: flex;
    opacity: 0;
    visibility: hidden;

    height: 50px;

    transform: scale(0);

    body.dark-mode & {
      svg {
        color: var(--black);
      }
    }

    svg {
      font-size: var(--fs-h4);
      color: var(--accent-color);
      transition: var(--transition-out);
    }

    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .home {
    margin-top: calc(50px + var(--margin-l));
  }

  .sidebarBtn {
    display: flex;

    align-items: center;

    gap: var(--margin-l);

    cursor: pointer;
    min-height: var(--sidebar-svg);

    &:hover {
      svg {
        color: var(--primary-color);
        transition: var(--transition-in);
      }

      big {
        color: var(--primary-color);
        transition: var(--transition-in);
      }
    }

    svg {
      min-height: var(--sidebar-svg);
      min-width: var(--sidebar-svg);

      color: var(--grey10);
      transition: var(--transition-out);
    }

    big {
      font-size: var(--fs-big);
      color: var(--grey10);
      transition: opacity 0.3s ease;
    }
  }

  .logOut {
    margin-top: auto;
    margin-bottom: var(--margin-xs);

    svg {
      min-height: var(--sidebar-svg);
      min-width: var(--sidebar-svg);
    }
  }

  .notification {
    position: relative;

    .notificationCount {
      // @include linear-gradient-bkg(
      //   90deg,
      //   var(--primary-color),
      //   var(--secondary-color2)
      // );

      background-color: var(--primary-color);

      color: white;
      border-radius: 50%;
      // padding: 0px var(--margin-xxs);
      min-width: 16px;
      text-align: center;
      font-size: 12px;
      position: absolute;

      left: var(--sidebar-svg);
      transform: translateY(-50%) translateX(-90%);

      font-weight: 600;

      z-index: 1000;
    }
  }

  .profileBtn {
    flex-direction: row;

    &.active {
      .imgWrapper {
        border: 2px solid var(--primary-color);
      }
    }

    .imgWrapper {
      display: flex;
      justify-content: center;
      height: var(--sidebar-svg);
      min-width: var(--sidebar-svg);
      max-width: var(--sidebar-svg);
      overflow: hidden;

      aspect-ratio: 1/1;

      border-radius: 50%;
      border: 2px solid var(--grey10);

      img {
        height: 100%;
        width: auto;
      }
    }
  }

  .darkModeToggle {
    big {
      text-wrap: nowrap;
    }
  }

  .active {
    @include linear-gradient-bkg(
      45deg,
      var(--secondary-color2),
      var(--primary-color)
    );
    color: transparent;
    background-clip: text;

    svg {
      color: var(--primary-color);
    }

    big {
      @include linear-gradient-bkg(
        45deg,
        var(--secondary-color2),
        var(--primary-color)
      );
      color: transparent;
      background-clip: text;
    }
  }
}

.sideBar-mobile {
  display: none;
}

.sidebar-header-mobile {
  display: none;
}

@media (max-width: 1280px) {
  .sideBar {
    .sidebarBtn {
      gap: 0rem;

      big {
        display: none;
      }
    }

    .logo {
      display: none;
    }

    .logoIcon {
      opacity: 1;
      visibility: visible;

      transform: scale(1);
    }

    &.collapsed {
      border-right: 1px solid var(--grey70);
    }
  }
}

@media (max-width: 768px) {
  .active {
    color: var(--primary-color);
    svg {
      color: var(--primary-color);
    }

    big {
      color: var(--primary-color);
    }
  }

  .sideBar {
    display: none;
  }

  .sideBar-mobile {
    --sidebar-m-svg: 2rem;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    position: fixed;
    bottom: 0;
    left: 0;

    // height: 3rem;
    width: 100%;

    padding-inline: var(--margin-l);
    padding-inline: clamp(var(--margin-xxs), 2.5vw, var(--margin-l));

    background-color: var(--background-color);

    z-index: 1000;
    // border-top: 1px solid var(--grey70);
    box-shadow: -1px -1px 1px var(--grey70);

    padding-block: var(--margin-xs);

    .settingMenu-mobile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;

      background-color: var(--background-color);

      margin-inline: var(--margin-xxs);
      margin-bottom: var(--margin-xxs);

      // gap: var(--margin-xxs);

      border-radius: 0.8rem;
      border: 1px solid var(--grey50);

      right: 0;

      top: calc(-1 * (var(--margin-xxs) + 1px));

      transform: translateY(-100%);
      opacity: 0;

      animation: fadeIn 0.15s forwards;

      .darkModeToggle-mobile {
        display: flex;
        align-items: center;
        gap: var(--margin-xs);

        padding-inline: var(--margin-s);

        padding-block: var(--margin-xs);

        border-bottom: 1px solid var(--grey70);

        big {
          font-size: var(--fs-small-ui);
          text-wrap: nowrap;
        }

        svg {
          width: var(--fs-big-ui);
          font-size: var(--fs-big-ui);
        }
      }

      .logOut-mobile {
        display: flex;
        align-items: center;
        gap: var(--margin-xs);

        padding-inline: var(--margin-s);

        padding-block: var(--margin-xs);

        big {
          font-size: var(--fs-small-ui);
        }

        svg {
          width: var(--fs-big-ui);
          font-size: var(--fs-big-ui);
        }
      }
    }

    .sidebar-mobile-btn {
      display: flex;
      justify-content: center;
      align-items: center;

      height: var(--sidebar-m-svg);
      width: var(--sidebar-m-svg);

      // padding: var(--margin-xxs);

      svg {
        height: calc(var(--sidebar-m-svg) * 0.9);
        width: var(--sidebar-m-svg);
      }

      &.profile-mobile {
        height: var(--sidebar-m-svg);
        width: var(--sidebar-m-svg);

        border-radius: 50%;
        border: 1px solid var(--grey50);

        overflow: hidden;
        padding: 0;

        &.active {
          border: 1px solid var(--primary-color);
        }

        img {
          height: 100%;
          width: auto;
        }
      }
    }
  }

  .sidebar-header-mobile {
    --sidebar-m-svg: 2rem;

    position: fixed;

    top: 0;
    left: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    background-color: var(--background-color);
    padding-block: var(--margin-s);
    padding-inline: clamp(var(--margin-s), 3vw, var(--margin-l));

    border-bottom: 1px solid var(--grey70);

    z-index: 1000;

    .logo-mobile {
      display: flex;
      justify-content: center;
      align-items: center;

      font-family: var(--ff-logo);
      font-weight: 900;

      font-size: clamp(var(--fs-h5), 4.5vw, var(--fs-h4));
    }

    .search-mobile {
      margin-left: auto;
      margin-right: clamp(var(--margin-xs), 2.5vw, var(--margin-s));

      display: flex;
      align-items: center;

      padding-inline: var(--margin-xxs);
      padding-block: var(--margin-xxs);

      // background-color: var(--grey90);

      border-radius: 0.5rem;

      body.dark-mode & {
        // background-color: var(--grey70);
      }

      svg {
        margin: var(--margin-xxs);

        font-size: calc(var(--sidebar-m-svg) * 0.9);
      }

      input {
        border: none;
        background-color: transparent;

        width: clamp(7.5rem, 40vw, 15rem);

        font-size: clamp(var(--fs-small), 3.5vw, var(--fs-p));
        color: var(--black);

        &::placeholder {
          display: flex;
          align-items: center;
          font-size: clamp(var(--fs-small), 3vw, var(--fs-p));
          color: var(--grey30);
        }
      }
    }

    .notification-mobile {
      display: flex;
      justify-content: center;
      align-items: center;

      position: relative;

      .notificationCount-mobile {
        height: fit-content;
        position: absolute;
        top: 0;
        right: 0;

        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        transform: translateY(-30%) translateX(10%);
        color: var(--background-color);
        background-color: var(--primary-color);

        min-width: 18px;
        max-width: 18px;
        border-radius: 50%;
        font-weight: 600;

        font-size: 12px;
      }

      svg {
        font-size: calc(var(--sidebar-m-svg) * 0.9);
      }
    }
  }
}
