.header {
  display: flex;
  justify-content: center;
  align-items: center;

  // position: fixed;
  // top: 0;
  // left: 0;
  // width: 100%;

  // z-index: 1000;

  // background-color: var(--background-color);

  padding-block: var(--margin-m);
  padding-inline: var(--margin-l);
  box-shadow: 1px 0px 3px var(--grey50);

  .logo {
    font-family: var(--ff-logo);
    font-weight: 900;

    color: var(--accent-color);

    font-size: var(--fs-h3);

    margin-right: auto;
    cursor: pointer;
  }

  .signUp {
    background-color: var(--primary-color);

    color: var(--white);

    padding-inline: var(--margin-m);
    padding-block: var(--margin-xs);

    border: 2px solid var(--primary-color);

    border-radius: 10px;
    font-size: var(--fs-p);

    font-weight: 600;
    letter-spacing: 0.5px;

    cursor: pointer;
    transition: var(--transition-out);
    margin-right: var(--margin-l);

    &:hover {
      background-color: var(--accent-color);
      border: 2px solid var(--accent-color);
      transition: var(--transition-in);
    }
  }

  .login {
    color: var(--primary-color);

    padding-inline: var(--margin-m);
    padding-block: var(--margin-xs);

    border-radius: 10px;
    font-size: var(--fs-p);

    font-weight: 600;
    letter-spacing: 0.5px;

    cursor: pointer;
    transition: var(--transition-out);

    &:hover {
      color: var(--accent-color);
      transition: var(--transition-in);
    }
  }
}

@media (max-width: 768px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;

    padding-block: var(--margin-s);
    background-color: var(--background-color);

    display: flex;
    align-items: center;

    height: 70px;

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: var(--ff-logo);
      font-weight: 900;
      // font-size: clamp(var(--fs-h5), 4.5vw, var(--fs-h4));
      font-size: var(--fs-h4);
    }

    .signUp {
      font-size: var(--fs-small-ui);
      font-weight: 600;

      padding-block: var(--margin-xs);
      padding-inline: var(--margin-s);

      margin-right: var(--margin-m);

      border: none;
    }

    .login {
      font-size: var(--fs-small-ui);
      font-weight: 600;

      padding-block: var(--margin-xs);
      padding-inline: var(--margin-s);
    }
  }
}
