.feed {
  display: flex;
  flex-direction: column;
  justify-content: center;

  // position: absolute;
  margin-inline: auto;
  width: clamp(20rem, 100vw, 30rem);

  .postList {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    width: 100%;
  }
}

@media (max-width: 768px) {
  .feed {
    margin-bottom: 50px;
  }

  .exploreFeed {
    margin-top: 70px;
  }
}
