.followSuggestion {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 20rem;
  border: 1px solid var(--grey70);
  margin-block: var(--margin-m);
  margin-inline: var(--margin-xxl);
  padding: var(--margin-m);
  border-radius: 1rem;
}
.followSuggestion .loader {
  height: -moz-min-content;
  height: min-content;
  margin-block: var(--margin-m);
}
.followSuggestion .loader p {
  display: none;
}
.followSuggestion p {
  display: flex;
  font-size: var(--fs-p);
  color: var(--grey30);
  font-weight: 600;
  margin-bottom: var(--margin-xs);
}
.followSuggestion .followSuggestions {
  display: flex;
  flex-direction: column;
  margin-top: var(--margin-xs);
}
.followSuggestion .followSuggestions .followSuggestionUser {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-block: var(--margin-xxs);
  margin-bottom: var(--margin-xxs);
  cursor: pointer;
}
.followSuggestion .followSuggestions .followSuggestionUser:hover .followSuggestionUserAvatar {
  border: 1px solid var(--primary-color);
  transition: var(--transition-in);
}
.followSuggestion .followSuggestions .followSuggestionUser .followSuggestionUserAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
  margin-right: var(--margin-s);
  border: 1px solid var(--grey50);
  overflow: hidden;
  transition: var(--transition-out);
}
.followSuggestion .followSuggestions .followSuggestionUser .followSuggestionUserAvatar img {
  height: 100%;
  width: auto;
}
.followSuggestion .followSuggestions .followSuggestionUser .followSuggestionUserName {
  display: flex;
  flex-direction: column;
  font-size: var(--fs-p);
  font-weight: 600;
}
.followSuggestion .followSuggestions .followSuggestionUser .followSuggestionUserName p {
  margin: 0;
  font-size: var(--fs-small);
}
.followSuggestion .followSuggestions .followSuggestionUser .followSuggestionUserName p.grey {
  color: var(--grey50);
  font-weight: 400;
}
.followSuggestion .followSuggestions .followSuggestionUser .followSuggestionBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-block: auto;
}
.followSuggestion .followSuggestions .followSuggestionUser .followSuggestionBtn button {
  border: none;
  background-color: transparent;
  padding-block: var(--margin-xs);
  padding-inline: var(--margin-s);
  transition: var(--transition-out);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.followSuggestion .followSuggestions .followSuggestionUser .followSuggestionBtn button:hover p {
  color: var(--black);
  transition: var(--transition-in);
}
.followSuggestion .followSuggestions .followSuggestionUser .followSuggestionBtn button p {
  font-weight: 600;
  color: var(--primary-color);
  font-size: var(--fs-small);
  font-family: var(--ff);
  margin: 0rem;
  padding: 0rem;
}
.followSuggestion .followSuggestions .followSuggestionUser .followSuggestionBtn button .following {
  color: var(--grey30);
}

.followSuggestion.noFollowing {
  right: 50%;
  transform: translateX(50%);
  margin: 0;
  top: 12.5%;
}

@media (max-width: 1280px) {
  .followSuggestion {
    display: none;
  }
  .followSuggestion.noFollowing {
    display: flex;
  }
}
@media (max-width: 768px) {
  .followSuggestion.noFollowing {
    top: 20%;
  }
}
@media (max-width: 497px) {
  .followSuggestion.noFollowing {
    top: 22.5%;
  }
}/*# sourceMappingURL=followSuggestion.css.map */