.followSuggestion {
  position: fixed;
  top: 0;
  right: 0;

  display: flex;

  flex-direction: column;

  width: 20rem;

  border: 1px solid var(--grey70);

  margin-block: var(--margin-m);
  margin-inline: var(--margin-xxl);

  padding: var(--margin-m);

  border-radius: 1rem;

  .loader {
    height: min-content;
    margin-block: var(--margin-m);

    p {
      display: none;
    }
  }

  p {
    display: flex;

    font-size: var(--fs-p);
    color: var(--grey30);
    font-weight: 600;

    margin-bottom: var(--margin-xs);
  }

  .followSuggestions {
    display: flex;
    flex-direction: column;
    margin-top: var(--margin-xs);

    .followSuggestionUser {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;

      padding-block: var(--margin-xxs);
      margin-bottom: var(--margin-xxs);

      cursor: pointer;

      &:hover {
        .followSuggestionUserAvatar {
          border: 1px solid var(--primary-color);
          transition: var(--transition-in);
        }

        .followSuggestionUserName {
        }
      }

      .followSuggestionUserAvatar {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 2.25rem;
        width: 2.25rem;
        border-radius: 50%;

        margin-right: var(--margin-s);

        border: 1px solid var(--grey50);

        overflow: hidden;
        transition: var(--transition-out);

        img {
          height: 100%;
          width: auto;
        }
      }

      .followSuggestionUserName {
        display: flex;
        flex-direction: column;
        font-size: var(--fs-p);
        font-weight: 600;

        p {
          margin: 0;
          font-size: var(--fs-small);

          &.grey {
            color: var(--grey50);
            font-weight: 400;
          }
        }
      }

      .followSuggestionBtn {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-left: auto;
        margin-block: auto;

        button {
          border: none;
          background-color: transparent;

          padding-block: var(--margin-xs);
          padding-inline: var(--margin-s);

          transition: var(--transition-out);

          cursor: pointer;

          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            p {
              color: var(--black);
              transition: var(--transition-in);
            }
          }

          p {
            font-weight: 600;

            color: var(--primary-color);
            font-size: var(--fs-small);
            font-family: var(--ff);

            margin: 0rem;
            padding: 0rem;
          }

          .following {
            color: var(--grey30);
          }
        }
      }
    }
  }
}

.followSuggestion.noFollowing {
  right: 50%;
  transform: translateX(50%);
  margin: 0;
  top: 12.5%;
}

@media (max-width: 1280px) {
  .followSuggestion {
    display: none;
  }

  .followSuggestion.noFollowing {
    display: flex;
  }
}

@media (max-width: 768px) {
  .followSuggestion.noFollowing {
    top: 20%;
  }
}

@media (max-width: 497px) {
  .followSuggestion.noFollowing {
    top: 22.5%;
  }
}
